import torch
import torchvision.transforms.functional as TF
import numpy as np

import torchmetrics as tm
from torchmetrics.functional.classification.auroc import binary_auroc
from torchmetrics.functional.classification import binary_precision


from src.utils.common import generate_binary_gaze_heatmap, spatial_argmax2d, is_point_in_box